In [9]:
import pandas as pd
import numpy as np
import seaborn as sns
from pydataset import data
#import acquire
from acquire import get_titanic_data , get_iris_data

In [ ]:
# Classification Exercises

In [ ]:
# 1. In a jupyter notebook, classification_exercises.ipynb, use a python module 
#    (pydata or seaborn datasets) containing datasets as a source from the iris data. 
#    Create a pandas dataframe, df_iris, from this data.

# a. print the first 3 rows
# b. print the number of rows and columns (shape)
# c. print the column names
# d. print the data type of each column
# e. print the summary statistics for each of the numeric variables. 
# f. Would you recommend rescaling the data based on these statistics?

In [3]:
# 1. Import pydataset iris 

df_iris = data('iris')

In [10]:
# 1a. Print the first 3 rows

df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [11]:
# 1b. Print the number of rows and columns (shape)

df_iris.shape

(150, 5)

In [12]:
# 1c. Print the column names 

df_iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [13]:
# 1d. Print the data type of each column

df_iris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

In [17]:
# 1e. Print the summary statistics for each of the numeric variables.

df_iris.describe() # .T can be used to transpose index and columns

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [18]:
# 1f. Would you recommend rescaling the data based on these statistics?
# The measurements are in cm, I would not recommend rescale this data

In [ ]:
# 2. Read the Table1_CustDetails table from the Excel_Exercises.xlsx file 
#    into a dataframe named df_excel.

# a. assign the first 100 rows to a new dataframe, df_excel_sample
# b. print the number of rows of your original dataframe
# c. print the first 5 column names
# d. print the column names that have a data type of object
# e. compute the range for each of the numeric variables.

In [81]:
df_excel = pd.read_excel('Spreadsheets_Exercises.xlsx', sheet_name = 'Table1_CustDetails')

In [135]:
# 2a. Assign new first 100 rows to a new dataframe

#df_excel_sample = df_excel.head(100)

df_excel_sample = df_excel.loc[0:100, :].copy() # Need to use .copy
df_excel_sample.head()

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn,Unnamed: 12,Unnamed: 13
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.6,593.30,No,NaN,NaN
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.9,542.40,No,NaN,NaN
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.9,280.85,Yes,NaN,NaN
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.0,1237.85,Yes,NaN,NaN
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.9,267.40,Yes,NaN,NaN

In [83]:
df_excel_sample.shape

(100, 14)

In [84]:
#2b. Print the number of rows of your original dataframe

#df_excel.shape
print(f"Number of rows in my original data frame is {df_excel.shape[0]}.")

Number of rows in my original data frame is 7049.

In [85]:
# 2c. Print the first 5 column names

#df_excel.columns[:5]

for x in range(5): 
    print(df_excel.columns[x])

customer_id
gender
is_senior_citizen
partner
dependents

In [86]:
# 2d. Print the column names that have a data type of object
    
# Get info for all columns 

df_excel.dtypes

customer_id           object
gender                object
is_senior_citizen      int64
partner               object
dependents            object
phone_service          int64
internet_service       int64
contract_type          int64
payment_type          object
monthly_charges      float64
total_charges        float64
churn                 object
Unnamed: 12          float64
Unnamed: 13          float64
dtype: object

In [87]:
list(df_excel.select_dtypes(['object']).columns)

['customer_id', 'gender', 'partner', 'dependents', 'payment_type', 'churn']

In [88]:
# 2e. Compute the range for each of the numeric variables.

df_excel.select_dtypes(['int64', 'float64']).max() - df_excel.select_dtypes(['int64', 'float64']).min()

is_senior_citizen       1.0
phone_service           2.0
internet_service        2.0
contract_type           2.0
monthly_charges       100.5
total_charges        8666.0
Unnamed: 12             NaN
Unnamed: 13             NaN
dtype: float64

In [89]:
# 3. Read the data from this google sheet into a dataframe, df_google

# a. Print the first 3 rows
# b. Print the number of rows and columns
# c. Print the column names
# d. Print the data type of each column
# e. Print the summary statistics for each of the numeric variables
# f. Print the unique values for each of your categorical variables

In [93]:
# 3. Read the data from this google sheet into a dataframe, df_google

sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

df_google = pd.read_csv(csv_export_url)

In [94]:
# 3a. Print the first 3 rows

df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [99]:
# 3b. Print the number of rows and columns

print (df_google.shape)
print(f'There are {df_google.shape[0]} rows, and {df_google.shape[1]} columns.')

(891, 12)
There are 891 rows, and 12 columns.

In [133]:
# 3c. Print the column names

df_google.columns.tolist()

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [101]:
# 3d. Print the data type of each column

df_google.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [102]:
# 3e. Print the summary statistics for each of the numeric variables

df_google.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [106]:
# 3f. Print the unique values for each of your categorical variables

df_google.select_dtypes('object').nunique()

Name        891
Sex           2
Ticket      681
Cabin       147
Embarked      3
dtype: int64

In [111]:
df_google.Sex.value_counts(dropna=False)

male      577
female    314
Name: Sex, dtype: int64

In [115]:
df_google.Embarked.value_counts(dropna=False)

S      644
C      168
Q       77
NaN      2
Name: Embarked, dtype: int64

In [109]:
df_google.Survived.value_counts(dropna=False)

0    549
1    342
Name: Survived, dtype: int64

In [110]:
df_google.Pclass.value_counts(dropna=False)

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [113]:
df_google.Parch.value_counts(dropna=False)

0    678
1    118
2     80
3      5
5      5
4      4
6      1
Name: Parch, dtype: int64

In [116]:
df_google.SibSp.value_counts(dropna=False)

0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: SibSp, dtype: int64

In [132]:
# print the unique values for each of your categorical variables
for column in df_google.select_dtypes(include='object').columns:
    print(f"Values in the {column} column:")
    print(df_google[column].value_counts())
    print("------")
    print()

Values in the Name column:
Morley, Mr. Henry Samuel ("Mr Henry Marshall")    1
Collyer, Mr. Harvey                               1
Jussila, Miss. Mari Aina                          1
Karun, Miss. Manca                                1
Roebling, Mr. Washington Augustus II              1
                                                 ..
Panula, Mr. Jaako Arnold                          1
Mionoff, Mr. Stoytcho                             1
Hansen, Mr. Henrik Juul                           1
McCormack, Mr. Thomas Joseph                      1
Aks, Mrs. Sam (Leah Rosen)                        1
Name: Name, Length: 891, dtype: int64
------

Values in the Sex column:
male      577
female    314
Name: Sex, dtype: int64
------

Values in the Ticket column:
1601        7
CA. 2343    7
347082      7
3101295     6
CA 2144     6
           ..
349204      1
36967       1
113503      1
8475        1
349210      1
Name: Ticket, Length: 681, dtype: int64
------

Values in the Cabin column:
C23 C25 C27        4
B96 B98            4
G6                 4
C22 C26            3
E101               3
F33                3
D                  3
F2                 3
E121               2
C78                2
D17                2
B22                2
C83                2
B58 B60            2
B28                2
C126               2
B20                2
B49                2
E25                2
D36                2
F G73              2
C124               2
C93                2
D35                2
B5                 2
C123               2
E24                2
C92                2
C125               2
D20                2
C68                2
E8                 2
D26                2
E67                2
D33                2
C2                 2
E33                2
C52                2
B57 B59 B63 B66    2
F4                 2
B35                2
C65                2
B77                2
B51 B53 B55        2
B18                2
E44                2
A20                1
B4                 1
A31                1
T                  1
E12                1
E31                1
C110               1
D9                 1
C103               1
C46                1
C7                 1
B41                1
E40                1
E49                1
E68                1
F G63              1
C85                1
C70                1
C82                1
B39                1
C91                1
B101               1
A6                 1
D37                1
C111               1
C99                1
B50                1
C87                1
C118               1
D6                 1
B69                1
E17                1
C101               1
C47                1
D21                1
E36                1
C54                1
E10                1
C45                1
B3                 1
D10 D12            1
E77                1
B73                1
A19                1
B86                1
D11                1
C86                1
C32                1
D46                1
C95                1
E34                1
A34                1
C104               1
B79                1
B37                1
D56                1
D45                1
C106               1
A23                1
D48                1
D19                1
F38                1
A5                 1
A36                1
C50                1
F E69              1
D7                 1
D47                1
C62 C64            1
C90                1
A14                1
A26                1
B42                1
A10                1
E58                1
D50                1
C49                1
A7                 1
A16                1
B82 B84            1
B38                1
E63                1
B102               1
C30                1
E38                1
B71                1
E50                1
D49                1
C128               1
A32                1
B19                1
D30                1
B94                1
A24                1
C148               1
E46                1
D15                1
D28                1
B80                1
B30                1
B78                1
Name: Cabin, dtype: int64
------

Values in the Embarked column:
S    644
C    168
Q     77
Name: Embarked, dtype: int64
------

In [ ]:
# Make a new python module, acquire.py to hold the following data aquisition functions:

In [4]:
# 1. Make a function named get_titanic_data that returns the titanic data from the 
#    codeup data science database as a pandas data frame.Use the function you defined 
#    in acquire.py to load the titanic dataset.

# Getting sql data

titanic_df = acquire.get_titanic_data()

In [5]:
titanic_df.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

In [6]:
iris_df = acquire.get_iris_data()

In [7]:
iris_df.head()

,species_id,species_name,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,5.1,3.5,1.4,0.2
1,1,setosa,4.9,3.0,1.4,0.2
2,1,setosa,4.7,3.2,1.3,0.2
3,1,setosa,4.6,3.1,1.5,0.2
4,1,setosa,5.0,3.6,1.4,0.2

In [3]:
# Prepare Data Exercises

In [ ]:
# The end product of this exercise should be the specified functions in a python script 
# named prepare.py. Do these in your classification_exercises.ipynb first, then transfer 
# to the prepare.py file.

In [ ]:
# Using the Iris Data:

In [33]:
# 1. Use the function defined in acquire.py to load the iris data.

iris_df = get_iris_data()

In [34]:
iris_df.head()

,species_id,species_name,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,5.1,3.5,1.4,0.2
1,1,setosa,4.9,3.0,1.4,0.2
2,1,setosa,4.7,3.2,1.3,0.2
3,1,setosa,4.6,3.1,1.5,0.2
4,1,setosa,5.0,3.6,1.4,0.2

In [35]:
# 2. Drop the species_id and measurement_id columns.

# Excluded measurement_id column in sql query in the acquire.py

iris_df = iris_df.drop(columns = ['species_id'])
iris_df.head()

  species_name  sepal_length  sepal_width  petal_length  petal_width
0       setosa           5.1          3.5           1.4          0.2
1       setosa           4.9          3.0           1.4          0.2
2       setosa           4.7          3.2           1.3          0.2
3       setosa           4.6          3.1           1.5          0.2
4       setosa           5.0          3.6           1.4          0.2

In [36]:
# 3. Rename the species_name column to just species.

df.rename(columns={"species_name": "species"}, inplace =True)
df.head()

  species  sepal_length  sepal_width  petal_length  petal_width
0  setosa           5.1          3.5           1.4          0.2
1  setosa           4.9          3.0           1.4          0.2
2  setosa           4.7          3.2           1.3          0.2
3  setosa           4.6          3.1           1.5          0.2
4  setosa           5.0          3.6           1.4          0.2

In [37]:
# 4. Create dummy variables of the species name.

pd.get_dummies(df, prefix = ['species'])

,sepal_length,sepal_width,petal_length,petal_width,species_setosa,species_versicolor,species_virginica
0,5.1,3.5,1.4,0.2,1,0,0
1,4.9,3.0,1.4,0.2,1,0,0
2,4.7,3.2,1.3,0.2,1,0,0
3,4.6,3.1,1.5,0.2,1,0,0
4,5.0,3.6,1.4,0.2,1,0,0
5,5.4,3.9,1.7,0.4,1,0,0
6,4.6,3.4,1.4,0.3,1,0,0
7,5.0,3.4,1.5,0.2,1,0,0
8,4.4,2.9,1.4,0.2,1,0,0
9,4.9,3.1,1.5,0.1,1,0,0
10,5.4,3.7,1.5,0.2,1,0,0
11,4.8,3.4,1.6,0.2,1,0,0
12,4.8,3.0,1.4,0.1,1,0,0
13,4.3,3.0,1.1,0.1,1,0,0
14,5.8,4.0,1.2,0.2,1,0,0
15,5.7,4.4,1.5,0.4,1,0,0
16,5.4,3.9,1.3,0.4,1,0,0
17,5.1,3.5,1.4,0.3,1,0,0
18,5.7,3.8,1.7,0.3,1,0,0
19,5.1,3.8,1.5,0.3,1,0,0
20,5.4,3.4,1.7,0.2,1,0,0
21,5.1,3.7,1.5,0.4,1,0,0
22,4.6,3.6,1.0,0.2,1,0,0
23,5.1,3.3,1.7,0.5,1,0,0
24,4.8,3.4,1.9,0.2,1,0,0
25,5.0,3.0,1.6,0.2,1,0,0
26,5.0,3.4,1.6,0.4,1,0,0
27,5.2,3.5,1.5,0.2,1,0,0
28,5.2,3.4,1.4,0.2,1,0,0
29,4.7,3.2,1.6,0.2,1,0,0
30,4.8,3.1,1.6,0.2,1,0,0
31,5.4,3.4,1.5,0.4,1,0,0
32,5.2,4.1,1.5,0.1,1,0,0
33,5.5,4.2,1.4,0.2,1,0,0
34,4.9,3.1,1.5,0.2,1,0,0
35,5.0,3.2,1.2,0.2,1,0,0
36,5.5,3.5,1.3,0.2,1,0,0
37,4.9,3.6,1.4,0.1,1,0,0
38,4.4,3.0,1.3,0.2,1,0,0
39,5.1,3.4,1.5,0.2,1,0,0
40,5.0,3.5,1.3,0.3,1,0,0
41,4.5,2.3,1.3,0.3,1,0,0
42,4.4,3.2,1.3,0.2,1,0,0
43,5.0,3.5,1.6,0.6,1,0,0
44,5.1,3.8,1.9,0.4,1,0,0
45,4.8,3.0,1.4,0.3,1,0,0
46,5.1,3.8,1.6,0.2,1,0,0
47,4.6,3.2,1.4,0.2,1,0,0
48,5.3,3.7,1.5,0.2,1,0,0
49,5.0,3.3,1.4,0.2,1,0,0
50,7.0,3.2,4.7,1.4,0,1,0
51,6.4,3.2,4.5,1.5,0,1,0
52,6.9,3.1,4.9,1.5,0,1,0
53,5.5,2.3,4.0,1.3,0,1,0
54,6.5,2.8,4.6,1.5,0,1,0
55,5.7,2.8,4.5,1.3,0,1,0
56,6.3,3.3,4.7,1.6,0,1,0
57,4.9,2.4,3.3,1.0,0,1,0
58,6.6,2.9,4.6,1.3,0,1,0
59,5.2,2.7,3.9,1.4,0,1,0
60,5.0,2.0,3.5,1.0,0,1,0
61,5.9,3.0,4.2,1.5,0,1,0
62,6.0,2.2,4.0,1.0,0,1,0
63,6.1,2.9,4.7,1.4,0,1,0
64,5.6,2.9,3.6,1.3,0,1,0
65,6.7,3.1,4.4,1.4,0,1,0
66,5.6,3.0,4.5,1.5,0,1,0
67,5.8,2.7,4.1,1.0,0,1,0
68,6.2,2.2,4.5,1.5,0,1,0
69,5.6,2.5,3.9,1.1,0,1,0
70,5.9,3.2,4.8,1.8,0,1,0
71,6.1,2.8,4.0,1.3,0,1,0
72,6.3,2.5,4.9,1.5,0,1,0
73,6.1,2.8,4.7,1.2,0,1,0
74,6.4,2.9,4.3,1.3,0,1,0
75,6.6,3.0,4.4,1.4,0,1,0
76,6.8,2.8,4.8,1.4,0,1,0
77,6.7,3.0,5.0,1.7,0,1,0
78,6.0,2.9,4.5,1.5,0,1,0
79,5.7,2.6,3.5,1.0,0,1,0
80,5.5,2.4,3.8,1.1,0,1,0
81,5.5,2.4,3.7,1.0,0,1,0
82,5.8,2.7,3.9,1.2,0,1,0
83,6.0,2.7,5.1,1.6,0,1,0
84,5.4,3.0,4.5,1.5,0,1,0
85,6.0,3.4,4.5,1.6,0,1,0
86,6.7,3.1,4.7,1.5,0,1,0
87,6.3,2.3,4.4,1.3,0,1,0
88,5.6,3.0,4.1,1.3,0,1,0
89,5.5,2.5,4.0,1.3,0,1,0
90,5.5,2.6,4.4,1.2,0,1,0
91,6.1,3.0,4.6,1.4,0,1,0
92,5.8,2.6,4.0,1.2,0,1,0
93,5.0,2.3,3.3,1.0,0,1,0
94,5.6,2.7,4.2,1.3,0,1,0
95,5.7,3.0,4.2,1.2,0,1,0
96,5.7,2.9,4.2,1.3,0,1,0
97,6.2,2.9,4.3,1.3,0,1,0
98,5.1,2.5,3.0,1.1,0,1,0
99,5.7,2.8,4.1,1.3,0,1,0
100,6.3,3.3,6.0,2.5,0,0,1
101,5.8,2.7,5.1,1.9,0,0,1
102,7.1,3.0,5.9,2.1,0,0,1
103,6.3,2.9,5.6,1.8,0,0,1
104,6.5,3.0,5.8,2.2,0,0,1
105,7.6,3.0,6.6,2.1,0,0,1
106,4.9,2.5,4.5,1.7,0,0,1
107,7.3,2.9,6.3,1.8,0,0,1
108,6.7,2.5,5.8,1.8,0,0,1
109,7.2,3.6,6.1,2.5,0,0,1
110,6.5,3.2,5.1,2.0,0,0,1
111,6.4,2.7,5.3,1.9,0,0,1
112,6.8,3.0,5.5,2.1,0,0,1
113,5.7,2.5,5.0,2.0,0,0,1
114,5.8,2.8,5.1,2.4,0,0,1
115,6.4,3.2,5.3,2.3,0,0,1
116,6.5,3.0,5.5,1.8,0,0,1
117,7.7,3.8,6.7,2.2,0,0,1
118,7.7,2.6,6.9,2.3,0,0,1
119,6.0,2.2,5.0,1.5,0,0,1
120,6.9,3.2,5.7,2.3,0,0,1
121,5.6,2.8,4.9,2.0,0,0,1
122,7.7,2.8,6.7,2.0,0,0,1
123,6.3,2.7,4.9,1.8,0,0,1
124,6.7,3.3,5.7,2.1,0,0,1
125,7.2,3.2,6.0,1.8,0,0,1
126,6.2,2.8,4.8,1.8,0,0,1
127,6.1,3.0,4.9,1.8,0,0,1
128,6.4,2.8,5.6,2.1,0,0,1
129,7.2,3.0,5.8,1.6,0,0,1
130,7.4,2.8,6.1,1.9,0,0,1
131,7.9,3.8,6.4,2.0,0,0,1
132,6.4,2.8,5.6,2.2,0,0,1
133,6.3,2.8,5.1,1.5,0,0,1
134,6.1,2.6,5.6,1.4,0,0,1
135,7.7,3.0,6.1,2.3,0,0,1
136,6.3,3.4,5.6,2.4,0,0,1
137,6.4,3.1,5.5,1.8,0,0,1
138,6.0,3.0,4.8,1.8,0,0,1
139,6.9,3.1,5.4,2.1,0,0,1
140,6.7,3.1,5.6,2.4,0,0,1
141,6.9,3.1,5.1,2.3,0,0,1
142,5.8,2.7,5.1,1.9,0,0,1
143,6.8,3.2,5.9,2.3,0,0,1
144,6.7,3.3,5.7,2.5,0,0,1
145,6.7,3.0,5.2,2.3,0,0,1
146,6.3,2.5,5.0,1.9,0,0,1
147,6.5,3.0,5.2,2.0,0,0,1
148,6.2,3.4,5.4,2.3,0,0,1
149,5.9,3.0,5.1,1.8,0,0,1

In [25]:
# could drop the first dummy column because it is a redundant feature
# setosa, versicolor, virginica
# dummy_df = pd.get_dummies(df[['species']], dummy_na=False, drop_first=[True])

In [26]:
# 5. Create a function named prep_iris that accepts the untransformed iris data, 
#    and returns the data with the transformations above applied.

In [ ]:
def clean_iris_data(iris_df):
    iris_df = iris_df.drop(columns = ['species_id'])
    iris_df = iris_df.rename(columns=({'species_name': 'species'}))
    iris_df = pd.get_dummies(iris_df, prefix = ['species'])
    return iris_df

In [ ]:
def prep_iris(iris_df):
    iris_df = clean_iris_data(iris_df)
    return iris_df