In [3]:
import pandas as pd
import numpy as np
import os

import seaborn as sns
import matplotlib.pyplot as plt

import acquire
from scipy import stats

In [4]:

# Classification Model Evaluation Exercises

In [ ]:
# Exercise 2

In [5]:

# Given the following confusion matrix, evaluate (by hand) the model's performance.

#  |               | pred dog   | pred cat   |
#  |:------------  |-----------:|-----------:|
#  | actual dog    |         46 |         7  |
#  | actual cat    |         13 |         34 |

In [6]:
# Positive: dog

# True Positive: predicted it is dog and it is a dog
# False Positive: predicted it is dog, but it is a cat
# False Negative: predicted it is cat, but it is a dog
# True Negative: predicted it is cat , and it is a cat

In [7]:

# In the context of this problem, what is a false positive?   False Positive: predicted it is dog, but it is a cat

# In the context of this problem, what is a false negative?   False Negative: predicted it is cat, but it is a dog

# How would you describe this model?   It is a confusion matrix - a cross-tabulation of our model's predictions 
#                                      against the actual values.

In [15]:
# True Positive: predicted it is dog and it is a dog

tp = 46

In [16]:
# False Positive: predicted it is dog, but it is a cat

fp = 7

In [17]:
# False Negative: predicted it is cat, but it is a dog

fn = 13

In [18]:
# True Negative: predicted it is cat , and it is a cat

tn = 34

In [19]:
# accuracy

accuracy = (tp + tn) / (tp + tn + fp + fn)
accuracy

0.8

In [20]:
# precision

precision = tp / (tp + fp)
precision

0.8679245283018868

In [21]:
# recall

recall = tp / (tp + fn)
recall

0.7796610169491526

In [ ]:
# Exercise 3

In [ ]:
# You are working as a datascientist working for Codeup Cody Creator (C3 for short),
# a rubber-duck manufacturing plant.

# Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models
# that try to predict those defects, and the data from their predictions can be found here.

# Use the predictions dataset and pandas to help answer the following questions:

In [ ]:
# An internal team wants to investigate the cause of the manufacturing defects. 
# They tell you that they want to identify as many of the ducks that have a defect as possible. 

# Which evaluation metric would be appropriate here? Recall

# Which model would be the best fit for this use case? Recall

In [22]:
# load data

c3 = pd.read_csv('C3.csv')

In [23]:
# look at the data

c3.head()

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

In [25]:
c3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   actual  200 non-null    object
 1   model1  200 non-null    object
 2   model2  200 non-null    object
 3   model3  200 non-null    object
dtypes: object(4)
memory usage: 6.4+ KB

In [26]:
c3.actual.value_counts()

No Defect    184
Defect        16
Name: actual, dtype: int64

In [34]:
c3.model1.value_counts()

No Defect    190
Defect        10
Name: model1, dtype: int64

In [35]:
c3.model2.value_counts()

No Defect    110
Defect        90
Name: model2, dtype: int64

In [36]:
c3.model3.value_counts()

No Defect    101
Defect        99
Name: model3, dtype: int64

In [30]:
# create a new column called 'baseline_prediction'
# which is the most frequent label

c3['baseline_prediction'] = 'No Defect'

In [31]:
c3.head()

      actual     model1  model2     model3 baseline_prediction
0  No Defect  No Defect  Defect  No Defect           No Defect
1  No Defect  No Defect  Defect     Defect           No Defect
2  No Defect  No Defect  Defect  No Defect           No Defect
3  No Defect     Defect  Defect     Defect           No Defect
4  No Defect  No Defect  Defect  No Defect           No Defect

In [40]:
# make subset 

subset = c3[c3.actual == 'Defect']

In [41]:
subset.head()

    actual     model1     model2  model3 baseline_prediction
13  Defect  No Defect     Defect  Defect           No Defect
30  Defect     Defect  No Defect  Defect           No Defect
65  Defect     Defect     Defect  Defect           No Defect
70  Defect     Defect     Defect  Defect           No Defect
74  Defect  No Defect  No Defect  Defect           No Defect

In [45]:
# baseline

(subset.actual == subset.baseline_prediction).mean()

0.0

In [42]:
# Recall model1 

(subset.actual == subset.model1).mean()

0.5

In [43]:
# Recall model2

(subset.actual == subset.model2).mean()

0.5625

In [44]:
# Recall model3

(subset.actual == subset.model3).mean()

0.8125

In [ ]:
# model3 has the highest recall score

In [ ]:

# Recently several stories in the local news have come out highlighting customers who received a rubber duck with a
# defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a
# defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the 
# really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. 

# Which evaluation metric would be appropriate here? Precision

# Which model would be the best fit for this use case? Precision

In [46]:
subset = c3[c3.model1 == 'Defect']
(subset.actual == subset.model1).mean()

0.8

In [47]:
subset = c3[c3.model2 == 'Defect']
(subset.actual == subset.model2).mean()

0.1

In [48]:
subset = c3[c3.model3 == 'Defect']
(subset.actual == subset.model3).mean()

0.13131313131313133

In [ ]:
# Model1 best fit for this senerio

In [ ]:
# Exercise 4

In [52]:
# You are working as a data scientist for Gives You Paws â„¢, a subscription based service that shows you cute 
# pictures of dogs or cats (or both for an additional fee).

# At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step
# process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos 
# that have been initially identified are put through another round of review, possibly with some human oversight,
# before being presented to the users (Phase II).

# Several models have already been developed with the data, and you can find their results here.

# Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class)
# and answer the following questions:

# a. In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better
#    than the baseline?

# b. Suppose you are working on a team that solely deals with dog pictures. Which of these models would you
#    recomend for Phase I? For Phase II?

# c. Suppose you are working on a team that solely deals with cat pictures. 
#    Which of these models would you recomend for Phase I? For Phase II?

In [49]:
# load data

df = pd.read_csv('gives_you_paws.csv')

In [50]:
df.head()

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog
2    dog    cat    cat    cat    dog
3    dog    dog    dog    cat    dog
4    cat    cat    cat    dog    dog

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   actual  5000 non-null   object
 1   model1  5000 non-null   object
 2   model2  5000 non-null   object
 3   model3  5000 non-null   object
 4   model4  5000 non-null   object
dtypes: object(5)
memory usage: 195.4+ KB

In [ ]:
# a. In terms of accuracy, how do the various models compare to the baseline model? 

#    Are any of the models better than the baseline? Model1 has best accuracy

In [54]:
# create baseline

df['baseline'] = 'dog'

In [55]:
df.head()

  actual model1 model2 model3 model4 baseline
0    cat    cat    dog    cat    dog      dog
1    dog    dog    cat    cat    dog      dog
2    dog    cat    cat    cat    dog      dog
3    dog    dog    dog    cat    dog      dog
4    cat    cat    cat    dog    dog      dog

In [56]:
# get actual count

df.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

In [60]:
# compare accuracy

In [66]:
(df.actual == df.baseline).mean()

0.6508

In [61]:
(df.actual == df.model1).mean()

0.8074

In [62]:
(df.actual == df.model2).mean()

0.6304

In [63]:
(df.actual == df.model3).mean()

0.5096

In [64]:
(df.actual == df.model4).mean()

0.7426

In [98]:
# b. Suppose you are working on a team that solely deals with dog pictures. 

# Which of these models would you recomend for Phase I? accuracy

# For Phase II? precision

In [99]:
# find the accuracy 

accuracy_model1 = (df.actual == df.model1).mean()
accuracy_model1

0.8074

In [100]:
accuracy_model2 = (df.actual == df.model2).mean()
accuracy_model2

0.6304

In [101]:
accuracy_model3 = (df.actual == df.model3).mean()
accuracy_model3

0.5096

In [102]:
accuracy_model4 = (df.actual == df.model4).mean()
accuracy_model4

0.7426

In [103]:
# create subset

positive = 'dog'

subset = df[df.actual == positive]

In [104]:
recall_model1 = (subset.actual == subset.model1).mean() 
recall_model1

0.803318992009834

In [105]:
recall_model2 = (subset.actual == subset.model2).mean()
recall_model2

0.49078057775046097

In [106]:
recall_model3 = (subset.actual == subset.model3).mean()
recall_model3

0.5086047940995697

In [107]:
recall_model4 = (subset.actual == subset.model4).mean()
recall_model4

0.9557467732022127

In [ ]:

# c. Suppose you are working on a team that solely deals with cat pictures. 

# Which of these models would you recomend for Phase I? accuracy

# For Phase II? recall

In [89]:
# set positive case 

positive = 'cat'

# create subset for every model where it equals the positive

subset = df[df.baseline == positive]
subset_1 = df[df.model1 == positive]
subset_2 = df[df.model2 == positive]
subset_3 = df[df.model3 == positive]
subset_4 = df[df.model4 == positive]

In [90]:
# calculate precision using each subset dataframe

precision = (subset.actual == subset.baseline).mean()
precision

nan

In [91]:
precision1 = (subset_1.actual == subset_1.model1).mean()
precision1

0.6897721764420747

In [92]:
precision2 = (subset_2.actual == subset_2.model2).mean()
precision2

0.4841220423412204

In [93]:
precision3 = (subset_3.actual == subset_3.model3).mean()
precision3

0.358346709470305

In [94]:
precision4 = (subset_4.actual == subset_4.model4).mean()
precision4

0.8072289156626506

In [ ]:
# Exercise 5

In [ ]:
# Follow the links below to read the documentation about each function, then apply those functions to the data
# from the previous problem.

# sklearn.metrics.accuracy_score
# sklearn.metrics.precision_score
# sklearn.metrics.recall_score
# sklearn.metrics.classification_report

In [108]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report

In [109]:
# sklearn.metrics.accuracy_score

accuracysk_model1 = accuracy_score(df.actual, df.model1)
accuracysk_model2 = accuracy_score(df.actual, df.model2)
accuracysk_model3 = accuracy_score(df.actual, df.model3)
accuracysk_model4 = accuracy_score(df.actual, df.model4)

In [110]:
print(f'Accuracy rate for model1 is{accuracysk_model1: .2%}')
print(f'Accuracy rate for model2 is{accuracysk_model2: .2%}')
print(f'Accuracy rate for model3 is{accuracysk_model3: .2%}')
print(f'Accuracy rate for model4 is{accuracysk_model4: .2%}')

Accuracy rate for model1 is 80.74%
Accuracy rate for model2 is 63.04%
Accuracy rate for model3 is 50.96%
Accuracy rate for model4 is 74.26%

In [111]:
# sklearn.metrics.precision_score

precisionsk_model1 = precision_score(df.actual, df.model1, pos_label = 'dog')
precisionsk_model2 = precision_score(df.actual, df.model2, pos_label = 'dog')
precisionsk_model3 = precision_score(df.actual, df.model3, pos_label = 'dog')
precisionsk_model4 = precision_score(df.actual, df.model4, pos_label = 'dog')

In [112]:
print(f'Precision rate for model1 is{precisionsk_model1: .2%}')
print(f'Precision rate for model2 is{precisionsk_model2: .2%}')
print(f'Precision rate for model3 is{precisionsk_model3: .2%}')
print(f'Precision rate for model4 is{precisionsk_model4: .2%}')

Precision rate for model1 is 89.00%
Precision rate for model2 is 89.32%
Precision rate for model3 is 65.99%
Precision rate for model4 is 73.12%

In [113]:
# sklearn.metrics.recall_score

recallsk_model1 = recall_score(df.actual, df.model1, pos_label = 'dog')
recallsk_model2 = recall_score(df.actual, df.model2, pos_label = 'dog')
recallsk_model3 = recall_score(df.actual, df.model3, pos_label = 'dog')
recallsk_model4 = recall_score(df.actual, df.model4, pos_label = 'dog')

In [114]:
print(f'Recall rate for model1 is{recallsk_model1: .2%}')
print(f'Recall rate for model2 is{recallsk_model2: .2%}')
print(f'Recall rate for model3 is{recallsk_model3: .2%}')
print(f'Recall rate for model4 is{recallsk_model4: .2%}')

Recall rate for model1 is 80.33%
Recall rate for model2 is 49.08%
Recall rate for model3 is 50.86%
Recall rate for model4 is 95.57%

In [118]:
# sklearn.metrics.classification_report

classsk_model1 = classification_report(df.actual, df.model1)
classsk_model2 = classification_report(df.actual, df.model2)
classsk_model3 = classification_report(df.actual, df.model3)
classsk_model4 = classification_report(df.actual, df.model4)

In [123]:
print(f'Classification report for model1 is :{classsk_model1}')
print(f'Classification report for model2 is :{classsk_model2}')
print(f'Classification report for model3 is :{classsk_model3}')
print(f'Classification report for model4 is :{classsk_model4}')

Classification report for model1 is :              precision    recall  f1-score   support

         cat       0.69      0.82      0.75      1746
         dog       0.89      0.80      0.84      3254

    accuracy                           0.81      5000
   macro avg       0.79      0.81      0.80      5000
weighted avg       0.82      0.81      0.81      5000

Classification report for model2 is :              precision    recall  f1-score   support

         cat       0.48      0.89      0.63      1746
         dog       0.89      0.49      0.63      3254

    accuracy                           0.63      5000
   macro avg       0.69      0.69      0.63      5000
weighted avg       0.75      0.63      0.63      5000

Classification report for model3 is :              precision    recall  f1-score   support

         cat       0.36      0.51      0.42      1746
         dog       0.66      0.51      0.57      3254

    accuracy                           0.51      5000
   macro avg       0.51      0.51      0.50      5000
weighted avg       0.55      0.51      0.52      5000

Classification report for model4 is :              precision    recall  f1-score   support

         cat       0.81      0.35      0.48      1746
         dog       0.73      0.96      0.83      3254

    accuracy                           0.74      5000
   macro avg       0.77      0.65      0.66      5000
weighted avg       0.76      0.74      0.71      5000